body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}


/*--- navigation bar ---*/

.navbar {
    background: #6ab446;
    color: #6ab446;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    color: #6ab446
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}


/* .navbar-collapse {
    justify-content: flex-end;
}
 */


/* header {
    background-image: url('../images/backgroundimage.jpeg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #6ab446;
} */


/* .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
} */

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 h2 {
    color: #6ab446;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button {
    border: 1px solid #6ab446;
    background: #6ab446;
    border-radius: 0;
    color: #fff;
}

.description button:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}

img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.container {
    padding: 1em;
}

.container::after {
    content: '';
    padding: 1em;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* .card-group>.card-header {
    display: table-row;
} */

#summary {
    font-size: 14px;
    line-height: 1.5;
}

#summary p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#summary p.collapsing {
    min-height: 42px !important;
}

#summary a.collapsed:after {
    content: '+ Read More';
}

#summary a:not(.collapsed):after {
    content: '- Read Less';
}